.nav {
    grid-area: nav;
    background-color: brown;
    padding: 20px;
}

.item {
    margin: 10px;
}

.item a {
    color: white;
    text-decoration: none;
    transition: all .2s linear;
}

.item a.active{
    color: blue;
    text-decoration: underline;
}